@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
#root {
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/axiom-pattern.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
.App:hover #trailer {
  opacity: 1;
}
#trailer {
  transition: opacity 500ms ease;
}
/*----------------------------------------*/

.typewriter h2 {
  width: 352px;
  animation: typing 1s steps(20, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 352px;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(255, 255, 255);
  }
}
/*------------*/
#img-potrait {
  height: 720px;
  width: 520px;
}
