@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

#root {
  font-family: "Montserrat", sans-serif;
  transition: all;
  background-color: black;
}
::selection {
  background-color: darkblue;
}
.App:hover #trailer {
  opacity: 1;
}
#trailer {
  transition: opacity 500ms ease;
}

/*----------------------------------------*/
h2 {
  width: 352px;
  animation: typing 1s steps(20, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 352px;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(255, 255, 255);
  }
}
/*------------*/

#img-potrait {
  height: 760px;
  width: 560px;
  background-image: url(/src/components/images/cat.jpg);
  background-position: bottom;
  background-size: 500px;
  background-repeat: no-repeat;
  z-index: 1;
  background-attachment: fixed;
}
/*************************************/
#terminal {
  font-family: "Space Mono", monospace;
}
#tabs {
  gap: 1.2px;
}
