@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Works on Firefox */

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  display: none;
}

*::-webkit-scrollbar-track {
  scrollbar-color: black red;
}

*::-webkit-scrollbar-thumb {
  scrollbar-color: black red;
}

#root {
  font-family: "Montserrat", sans-serif;
  transition: all;
  background-color: black;
}
::selection {
  background-color: darkblue;
}
.App:hover #trailer {
  opacity: 1;
}
#trailer {
  transition: opacity 500ms ease;
}

/*----------------------------------------*/
h2 {
  width: 352px;
  animation: typing 1s steps(20, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 352px;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(255, 255, 255);
  }
}
/*------------*/

#img-potrait {
  height: 800px;
  width: 600px;
  background-position: bottom;
  background-size: 500px;
  background-repeat: no-repeat;
  z-index: 1;
  background-attachment: fixed;
}
/*************************************/
#terminal {
  font-family: "Space Mono", monospace;
}
#tabs {
  gap: 1.2px;
}
#link-icon-wrapper-right {
  height: 100px;
  width: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  top: 660px;
  right: 240px;
}
#hero-lkin-logo {
  grid-row: 2 /2;
  grid-column: 2 / 2;
}
#email-link {
  position: absolute;
  font-family: "Baloo 2", cursive;
  top: 700px;
  color: #fff;
}
#email-shape {
  position: absolute;
  top: 740px;
  left: 160px;
  transform: rotate(2deg);
}
#link-icon-shape {
  position: absolute;
  transform: rotate(-40deg);
  right: -174px;
}
#email-wrapper {
  font-family: "Baloo 2", cursive;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(30, 64, 175, 0.9472163865546218) 70%
  );
}
